---
import type { GetStaticPaths } from 'astro';
import type { PokemonListResponse } from '@interfaces/pokemon-list.response';
import MainLayout from '@layout/MainLayout.astro';
import PokemonCard from '@components/pokemons/PokemonCard.astro';

export const getStaticPaths = (async () => {
  const res = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
  const { results } = (await res.json()) as PokemonListResponse;
  return results.map((pokemon) => ({
    params: {
      name: pokemon.name,
    },
    props: {
      name: pokemon.name,
      url: pokemon.url,
    },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;
const id = url.split('/').at(-2);
const audio = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
const image = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<MainLayout
  title={`Pokemon - #${id} - ${String(name[0]).toUpperCase() + String(name).slice(1)}`}
  description={`Esta página es la entrada del pokedex de ${String(name[0]).toUpperCase() + String(name).slice(1)}`}
  image={image}
>
  <section
    aria-label='Detalles de pokemon'
    class='mt-10 mx-10 flex flex-col justify-center items-center'
  >
    <div>
      <a href='/' class=''>Regresar</a>
    </div>

    <PokemonCard name={name} url={url} isBig />

    <audio controls class='mt-5'>
      <source src={audio} type='audio/ogg' />
      Your browser does not support the audio element.
    </audio>
  </section>
</MainLayout>

<style>
  a {
    @apply hover:underline text-blue-500;
  }
</style>
